@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: white;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.main_container{
  width: 97%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,  span, label, a{
  color: white;
  mix-blend-mode: difference;
  transition: color 0.3s ease;
}

.smallBox{
  width: 8px !important;
  height: 8px !important;
  background-color: black;
}

.slick-arrow {
  display: none !important;
}

.alph_logo-left{
  fill: #191919
}
.alph_logo-right{
  fill: #191919
}